.navigator img{
    height: 50px;
    width: 50px;
}
.navigator{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: cadetblue;
    padding: 20px;
    margin: ;
    
}